{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My Awesome Cart!</h1>
      <p>My Awesome Cart Pvt Ltd. is an Indian electronic commerce company based in India. Founded by Akshita Patidar and Vidhan Jain in 2018, the company initially focused on sales, before expanding into other product categories such as consumer electronics, fashion, and lifestyle products.
        This side is focused on investigated whether our understanding of adoption of e-shopping and instore shopping could be advanced through the application of attitude theory.</p>

      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
   
      <div class="row">
        <div class="col-md-4">
          <h2>Vidhan Jain</h2>
          <p>I am a Software Engineer Fresher and I am flexible in my working hours, being able to work evenings and weekends. I have a leadership quality and i have conduct some events in past three years.  </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Akshita Patidar</h2>
          <p>A Software Engineer fresher with a deep understanding of Python Programming Language and interested in Web designing. I have interested in writing too. I’m always ready to try out new things and gain experience to explore different sides of me. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
        </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}